CYGINTL  RCDATA CYGINTL.DLL
CYGWIN1  RCDATA CYGWIN1.DLL
LANG     RCDATA LANG.EXE
SPLASH   RCDATA SPLASH.BMP
DCTOOL   RCDATA DCTOOL.EXE
DCTOOLIP RCDATA DCTOOLIP.EXE
LINKTEST RCDATA LINKTEST.ELF
DELFLASH RCDATA DELFLASH.BIN